# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.test
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore compiled code or build artifacts
dist/
build/
out/

new.js

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore sensitive or private files
secrets.txt
credentials.json
